h1 Productos Ordenados
div(id="main")
    div(class="inner")
        header
            h1= `Products ordered by ${usuario.username}`
        section(class="tiles" id="section")
            each producto in productos
                article(class="style1")
                    p= producto.nombre
                    span(class="image")
                        img(src=producto.imagen_url, alt="producto_imagen")
                        h2= producto.nombre
                        div(class="content")
                            p= `Precio: ${producto.precio}`
                            p= producto.descripcion