div(id="main")
    div(class="inner")
        header
            h1= `Welcome ${usuario.nombre} to Electronic core`
            p This is the site to use for ordering electronic devices and appliances for purchase and delivery. As a client you have access to all of the following products.
        section(class="tiles" id="section")
            each producto in productos
                article(class="style1")
                    span(class="image")
                        img(src=producto.imagen_url, alt="producto_imagen")
                    a(href=`/index/${usuario.username}/${producto.nombre}`)
                        h2= producto.nombre
                        div(class="content")
                            p= `Precio: ${producto.precio}`
                            p= producto.descripcion
